body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}
/*Textarea not resizeable*/
textarea {
    resize:none
}

.badge{
  vertical-align: middle;
  text-align: center;
  background-color: #554;
  color: white;
  padding-right: 9px;
  padding-bottom: 5px;
  line-height: 1;
  border-radius: 10px;
  white-space: nowrap;
}

.badge:hover{
  background: #666;
  transform: scale(1.1);
}

.hover:hover{
	transform: scale(1.1); 
	text-shadow: 1px 0px 20px white;
}