body{
		background: linear-gradient(to bottom, #80361f, #000000) no-repeat;
		background-size: cover;
		min-height: 100vh;
}

*{
		font-family: "Open Sans","Montserrat","Segoe UI", "Calibri","Arial","Times New Roman","sans-serif";
		color: white;
}
#input-list{
}
#input-list form{
	color: black;
	width: 400px;
	margin: auto;
	text-align: center;
	position: relative;
	z-index: 1;
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	position: relative;
}
#input-list form > h2{
	font-size: 1.3em;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
#input-list form > .todo-form-input, #input-list form > .todo-form-textarea{
	padding: 15px;
		border: 1px solid #ccc;
		border-radius: 3px;
		margin-bottom: 10px;
		width: 100%;
		box-sizing: border-box;
		color: #2C3E50;
		font-size: 13px;
}

#my-list{
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	color: black;
}
#my-list .my-list-title{
	font-size: 40px;
	margin-bottom: 1em;
	color: black;
	text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-align: center;
}

.friend-list{
	text-align: center;
	background: #fff;
	color:black;
	position: relative;
	z-index: 15;
	margin-bottom: 60px;
	-webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.friend-list:after{
		content:"";
		display:block;
		height:25px; /* Which is the padding of div.container */
}
.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	margin-right: -15px;
	margin-left: -15px;
}
.flex-item{
	padding: 0 15px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 25%;
}
.friend-list:hover {
		-webkit-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
		-o-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
		box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
		-webkit-transform: translate(0, -5px);
		-moz-transform: translate(0, -5px);
		-o-transform: translate(0, -5px);
		transform: translate(0, -5px);
}
.friend-list-photo {
	padding: 10px;
}
.friend-list .friend-list-name {
	font-size: 20px;
	font-weight: 700;
	padding: 10px 10px 0;
	color: black;
}
.friend-list .friend-list-url {
	font-size: 12px;
	padding: 10px 10px;
}
.friend-list .friend-list-description {
	padding: 10px 25px;
	z-index: 15;
	background: #fff;
	height: 125px;
	text-align: justify;
	overflow: auto;
}
.friend-list .friend-list-delete {
	color: #fff;
	padding: 10px;
	font-size: 16px;
	width: 100%;
	height: 50px;
	bottom: 1px;
	position: absolute;
	cursor: pointer;
	z-index: -1;
	-webkit-border-radius: 0 0px 2px 2px;
	-moz-border-radius: 0 0px 2px 2px;
	-o-border-radius: 0 0px 2px 2px;
	border-radius: 0 0px 2px 2px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.friend-list:hover .friend-list-delete {
	bottom: -50px;
}
.friend-list .friend-list-delete:hover{
	-webkit-animation: neon 1.5s ease-in-out infinite alternate;
}
