{% extends "base.html" %}
{% block content %}

{% block form %}
  <section name="form" id="input-list">

    <br />
    <form id="form" method="POST" action="{% url 'add_friend:add_friend' %}">
      <h1>ADD YOUR FRIEND!</h1>
      {% csrf_token %}
      {{ friend_form }}
      <br>
      <button id="submit" type="submit" class="btn btn-default">Submit</button>

    </form>
    <br />
  </section>



{% endblock %}

{% block table %}
{% load static %}
<section id="input-list">
  <div class="container">
    <h3 class="my-list-title">List Friend</h3>
      <div class="flex">
        {% if friend_dict %}
          {% for friend_data in friend_dict %}
          <div class="flex-item">
            <div class="friend-list">
              <div class="friend-list-photo">
                <img src={% static "img/image.png" %} width="100" height="100" style="border-radius:50%">
              </div>
              <div class="friend-list-name">
                {{friend_data.name}}
              </div>
              <div class="friend-list-url">
                <a href={{ friend_data.URL}} target="_blank">{{ friend_data.URL }}</a>
              </div>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <div class="alert alert-danger text-center">
              <strong>Oops!</strong> Kamu belum mempunyai teman.
          </div>
          {% endif %}
      </div>
  </div>

</section>

{% endblock %}
{% endblock %}
