{% extends "base.html" %}
{% block content %}

  <section name="form" id="input-list">

    <br />
    <form id="form" method="GET" action="{% url 'add_friend:index' %}">
      <div class="alert alert-danger text-center">
          <strong>Oops!</strong> URL yang kamu masukkan tidak valid.
      </div>
      <button id="submit" type="submit" class="btn btn-default">Back to Add Friend</button>
    </form>
  </section>

      </div>
  </div>

</section>

{% endblock %}
