{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Tugas 1">
    <meta name="author" content="{{author}}">
    <meta name="style" content="{{style}}">
    <!-- bootstrap csss -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_friend.css' %}" />


    <style>
        body{
                background-size: cover;
                min-height: 100vh;
            }

            *{
                color: white;
            }
        {% if style == 1 %}
            body{
                background: linear-gradient(to bottom, #80361f, #000000) no-repeat;
            }

            *{
                font-family: "Open Sans","Montserrat","Segoe UI", "Calibri","Arial","Times New Roman","sans-serif";
            }
        {% else %}
            body{
                    background: linear-gradient(to bottom, #38b1ff, #1514ee) no-repeat;
                }

                *{
                    font-family: "Segoe UI", "Calibri","Arial","Times New Roman","sans-serif";
                }

        {% endif %}
    </style>


    <title>
        {% block title %} Tugas 1 By {{author}}{% endblock %}
    </title>
</head>

<body>
    <header>
        {% include "header.html" %}
    </header>
    <br></br>
    <br></br>
    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer style="bottom: 0">
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
