<head>
    <meta name="style" content="{{style}}">
</head>

<style>
    {% if style == 1 %}

        .navbar-default{
            background-color: #80361f;
            border-color: transparent;
        }

        .navbar-default .navbar-brand{
            color : wheat;
        }

        .navbar-default .navbar-brand:hover{
            color : white;
        }

        .navbar-default .navbar-nav > li > a{
            color: wheat;
        }

        .navbar-default .navbar-nav > li > a:hover{
            color: white;
        }

    {% else %}

        .navbar-default{
            background-color: #38b1ff;
            border-color: transparent;
        }

        .navbar-default .navbar-brand{
            color : #1f1f1f;
        }

        .navbar-default .navbar-brand:hover{
            color : black;
        }

        .navbar-default .navbar-nav > li > a{
            color: #1f1f1f;
        }

        .navbar-default .navbar-nav > li > a:hover{
            color: black;
        }
    {% endif %}
</style>


<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-static-top navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'dashboard:index' %}">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'update-status:add_status' %}"> Status </a></li>
            <li><a href="{% url 'profile_page:index' %}"> Profile </a></li>
            <li><a href="{% url 'add_friend:index' %}"> Friends </a></li>
            <li><a href="{% url 'dashboard:index' %}"> Stats </a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
