body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	background-color:#f4f4f4;
}

h1{
	font: 35px Arial, Helvetica, sans-serif;
	color:green;
	margin-top:20px;
}

form{
	width: 425px;
}

#form{
	text-align: center;
}

#input-status{
	background-color:green;
}
#my-status{
	padding:0;
	margin-bottom: :15px;
	color:black;
	background-color:#f4f4f4;
}
#my-status p{
	font:15px Arial, Helvetica, sans-serif;
	color:green;
	padding: 0;
}
#my-status h1{
	font:15px Arial, Helvetica, sans-serif;
	color:gray;
	padding: 0;
}
