{% extends "base.html" %}

    {% block content %}
    {% load staticfiles %}

        <style>
        .profile-img {
        background-image: url('http://www.dorkadia.com/wp-content/uploads/2013/05/2432714-threeronecdeadspace3.jpg');
        background-size:cover;
        background-position: center;
        background-repeat:no-repeat;
        margin: auto;
        }

        #centered{
            text-align: center;
        }

        .latest-feed{
            width: auto;
            height: auto;
        }

        .zoomable{
            font-size: 100%;
            transition-duration: .5s;
        }

        .zoomable:hover{
            font-size: 150%;
            transition-duration: .5s;
        }

        p{
            font-size: 15px;
        }

        hr{
            border-color: white;

        }

        .clickable{
            color: white;
            transition-duration: .5s;
        }

        .clickable:hover{
            color: #c1642d;
            transition-duration: .5s;
        }
        </style>

        <h1 style="text-align: center">
            <a  href="{% url 'add_friend:index' %}"> <b class="clickable">{{ name }}</b> </a>
        </h1>

        <div class="profile-img img-circle" style="width: 250px ; height: 250px"></div>


        <div id = "centered" >
            <p style="font-size: 20px">
                <br/>
                {{ friendsAmount }} <a  href="{% url 'add_friend:index' %}"> <b class="clickable">Friends</b> </a> | {{ feedsAmount }} <a   href="{% url 'update-status:add_status' %}"> <b class="clickable">Feeds</b> </a>
                <br/>
            </p>
        </div>

        <hr size="30"/>

        <br/>


        <p style="font-size: 25px">Latest Feed<br/></p>
        <div class="card bg-dark border-dark mb-3" style="max-width: 50rem;">
            <div class = "latest-feed card-body">
                <div class="card-header">
                    <div class="profile-img" style="width: 50px ; height: 50px; display:inline-block ; vertical-align: middle; margin-right: 10px"></div>
                    <div style="display: inline-block;">
                        <p style="vertical-align: bottom">{{ name }}</p>
                    </div>
                </div>
                <div class="card-text">
                    <p style="margin-top: 15px; margin-bottom: 3px">
                        {{ latestFeed }}
                    </p>
                    <p style="font-size: 12px">
                       <em>{{ created }}</em>
                    </p>
                </div>
            </div>
        </div>

        <br/>

        <div style="text-align: center">
        <a href="{%url 'dashboard:changeStyle' %}" class="btn btn-default" role="button">Change Style</a>
        </div>

    {% endblock %}
