{% extends "base.html" %}
{% block content %}

{% load staticfiles %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/profile_page.css' %}">


  <h2 class="main-title">Profile</h2>
    <hr/>
    <section name="profil" align= center>
		<p>
				<img class="hover" src="http://www.dorkadia.com/wp-content/uploads/2013/05/2432714-threeronecdeadspace3.jpg" width="150" height="150" style = "border-radius: 50%">
			<h3 class="hover">{{name}}</h3>
	<hr/>
			<ul>
			<table align="center">
				<tr align= "left">
    		        <td style="width:40%">Birthday</td>
    		        <td>{{ birthday }}</td>
				</tr>
                <tr align= "left">
                    <td>Gender</td>
                    <td>{{ gender }}</td>
                </tr>
				<tr align= "left">
                    <td>Expertise</td>
                    <td>
					{% for ii in expertise %}
                        <span class="badge">{{ ii }}</span> 
                    {% endfor %}
					</td>
                </tr>
                <tr align= "left">
                    <td>Description</td>
                    <td>{{ description }}</td>
                </tr>
                <tr align= "left">
                    <td>E-mail</td>
                    <td>{{ email }}</td>
                </tr>
			</table>
			</ul>
		</p>
	</section>

		

{% endblock %}