{% extends "base.html" %}

{% block content %}
<div class="container">
<h1> Add Comment</h1>
<section name="input-comment" id="input-comment">
<form id="form" method="POST" action="{% url 'update-status:add_comment' %}" style="color: black">
  <h2></h2>
    {% csrf_token %}
    {{ comment_form }}
    <br>
    <p align=center><input id="submit" type="submit" class="btn btn-danger" value="Post" role="button" style="width:500px"> <a href="/update_status/" class="btn btn-danger" style="width:500px" role="button">Cancel</a></p>
    <br><br><br><br>
    <br>
</form>
</section>

<section name="my-comment" id="my-comment">
  <div class="container">
          {% for j in comment %}
          <div class="comment_box">
                <p style="font-size: 30px">{{j.name}}</p>
                <p> {{j.comment}} </p>   
            </div>
              <br>
            </div>       
          {% endfor %}
    </div>
</section>
</div>
{% endblock %}
