{% extends "base.html" %}

{% block content %}

<style>
        #form{
        }
        #submit{
            width: 100px;
            align-self: right;
        }
        .profile-img {
        background-image: url('http://www.dorkadia.com/wp-content/uploads/2013/05/2432714-threeronecdeadspace3.jpg');
        background-size:cover;
        background-position: center;
        background-repeat:no-repeat;
        margin: auto;
        }
        .status{
            background-color: rgba(0, 0, 0, 0.4);
            padding: 15px 0 10px 0;
        }
        .status_box{
            margin-left: -10px;
            width: auto;
            margin-right: 15px;
        }
</style>
<h1>UPDATE STATUS</h1>

<section name="input-status" id="input-status">
<form id="form" method="POST" action="{% url 'update-status:add_status' %}" style="color: black ; width: auto">
 	<h2></h2>
    {% csrf_token %}
    {{ status_form }}
    <br>
    <input id="submit" type="submit" class="btn btn-lg btn-block btn-basic" value="Post" style="float:right">
    <br><br><br><br>
    <br>
</form>
</section>

<section name="my-status" id="my-status">
	<div class="container">
        	{% for i in status %}
        	<div class="status_box">
        		<div class="profile-img img-circle" style="width: 70px ; height: 70px;display:inline-block ; vertical-align: middle; "></div>
                <div class="delete" data-id="{{i.id}}" style="display: inline-block;float:right;margin-top: 30px;margin-right: 20px">
                    <a href="{%url 'update-status:clear' object_id=i.id %}" style="float:right"><img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/matte-red-and-white-square-icons-business/122923-matte-red-and-white-square-icon-business-trashcan3.png" style="width: 50px;height: 50px"></a>
                </div>
            <div style="display: inline-block; margin-top: auto; margin-bottom: auto; vertical-align: middle">
                <p style="font-size: 30px;margin-left: 20px">{{ name }}</p>
                <p style="margin-left: 20px"> {{i.created_date}} </p>   
            </div>
            <br><br>
            	<div class="status" style="padding:15px 15px 15px 15px"><p> {{i.status}} </p></div>
            	<br>
<!--                 <form action="/update_status/add_comment">
                    <p align=right><input type="submit" class="btn btn-danger" value="Comment" /></p>
                </form> -->
            	<br>
            </div>       
        	{% endfor %}
    </div>
</section>
{% endblock %}